<!-- Button trigger modal -->
<button type="button" class="btn btn-primary float-right m-2" 
data-toggle="modal" data-target="#exampleModal"
(click)="addClick()"
data-backdrop="static" data-keyboard="false"
>
    Add Company
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ModalTitle}}</h5>
        <button type="button" class="close" 
        data-dismiss="modal" aria-label="Close"
        (click)="closeClick()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-add-edit-comp *ngIf="ActivateAddEditCompany"></app-add-edit-comp>
      </div>
    </div>
  </div>
</div>

<table class="table table-stripped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Symbol</th>
            <th>Price</th>
            <th>Date</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let dataItem of CompanyList">
            <td>{{dataItem.id}}</td>
            <td>{{dataItem.symbol}}</td>
            <td>{{dataItem.price}}</td>
            <td>{{dataItem.date}}</td>
            <td>
                <button type="button" class="btn btn-light mr-1"
                data-toggle="modal" data-target="#exampleModal"
                (click)="editClick(dataItem)" data-backdrop="static" data-keyboard="false"
                >
                    Edit
                </button>
                <button type="button" class="btn btn-light mr-1">
                    Delete
                </button>
            </td>
        </tr>
    </tbody>
</table>

